extends default

block content
  div.container
    each socket in sockets
      div.socket
        h2.socket-name
          | #{socket.name} 
        h2.socket-name  
          | #{socket.uid}
        h2.socket-name  
        if socket.state === 1
          a.button-on(href=`/?uid=${socket.uid}`)
          | #{socket.state}
        else  
          a.button-off(href=`/?uid=${socket.uid}`)
          | #{socket.state}