extends default

block content
  div.container
    if sockets.length <= 0
      h2.socket-name
        | No Plugs Found
    else
      each socket in sockets
        div.socket
          case socket.modelId
            when 'f8b11bed724647e98bd07a66dca6d5b6'
              div.socket-image(style=`background: url('/images/b25UK.jpg') top center
              no-repeat; background-size: cover;`)
            //- when '123'
            //-   div.socket-image(style=`background: url('/images/b25.jpg') top center
            //-   no-repeat; background-size: cover;`)  
          h2.socket-name
            | #{socket.name} 
          h2.socket-name  
            | #{socket.uid}
          if socket.state === 'OFF'
            a.button-off(href=`/?uid=${socket.uid}`)
              | #{socket.state}
          else 
            a.button-on(href=`/?uid=${socket.uid}`)
              | #{socket.state}